## <style  type="text/css"> 
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111-002, V02 (Spring 2022)<br>Introduction to Databases
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 2: Programming and Non-Programming
</span>
    <br><br>
    Due Wednesday, February 23, 2022 at 11:59 PM
</center></i>

# Introduction

## Overview

This notebook has **2 sections that you must complete**:

1. Written questions testing knowledge of concepts. Answering these questions may require reviewing lecture slides, slides associated with the textbook, and/or online material. Both tracks complete this section.


2. Practical problems involving data modeling, relational algebra and SQL. Both tracks complete this section.


_We will separately release the track-specific Programming and Non-Programming parts of HW2._

## Submission

You will **submit 2 files** for this assignment.

1. Submit a zip file titled `<your_uni>_hw2_all.zip` to **HW2 All - Zip** on Gradescope.

    - Replace `<your_uni>` with your uni. My submission would be titled `dff9_hw2_all.zip`.
    - The zipped directory you submit should contain the following files:
        - `<your_uni>_hw2_all.ipynb` 
        - `Appearances.csv`
        - `Batting.csv`
        - `People.csv`
        - Any image files you choose to embed in your notebook.
    - All of these files, except the images you may embed in your notebook, are included in `s22_w4111_hw2_all.zip`, which you downloaded from Courseworks. You will have to rename the notebook file you downloaded to `<your_uni>_hw2_all.ipynb`, as discussed above.
        
        
2. Submit a PDF file titled `<your_uni>_hw2_all.pdf` to **HW2 All - PDF** on Gradescope.

    - This should be a PDF of your completed HW2 All Python notebook.
    - **Tag pages for each problem**. Per course policy, any untagged submission will receive an automatic 0. 
    - Double check your submission on Gradescope to ensure that the PDF conversion worked and that your pages are appropriately tagged.

## Collaboration and Information

- Answering some of the questions may require independent research to find information. We encourage you to try troubleshooting problems independently before reaching out for help.


- You may use any information you get in TA or Prof. Ferguson's office hours, from lectures or from recitations. This includes slides related to the recommended textbook.


- You may use information that you find on the web.


- You are NOT allowed to collaborate with other students outside of office hours.

# Written Questions

## Question 1: NULL

__Briefly__ explain Codd's 3rd Rule.
- What are some interpretations of a NULL value?
- An alternative to using NULL is some other value for indicating missing data, e.g. using -1 for the value of a weight column. Explain the benefits of NULL relative to other approaches.

<u>Answer:</u>

A NULL value refers to the value that is not appliable or missing, or unknown.
Using NULL is better than speical values such as -1 because NULL is reliable in fully relational DBMS in systematic way, therefore it has less possibility to confuse programmers or designers about the data type in some SQL statement. Without NULL, the designers need to figure out the choice of developer for NULL case by case.

## Question 2: Keys

__Briefly__ explain the following concepts:

- Primary Key
- Candidate Key
- Super Key
- Alternate Key
- Composite Key
- Unique Key
- Foreign Key

<u>Answer:</u>
- Super Key refers to the value that could represent the possible relation uniquely. 
- Candidate key is the minimal choice of Super Key. 
- Foreign Key refers to the value in one relation must shown in another. 
- Composite Key is the key that an entity instance coule be uniquely identified by two or more attributes of a candidate key. 
- Primary Key is the unique choice of attribute that specify a tuple in a relation. 
- Unique key is the remaining key in candidate key except primary key. It is also named Alternate Key. 


Reference: https://en.wikipedia.org/wiki/Composite_key#:~:text=In%20database%20design%2C%20a%20composite,key%20in%20its%20own%20right.

https://en.wikipedia.org/wiki/Unique_key

https://en.wikipedia.org/wiki/Primary_key

## Question 3: Algebra

__Briefly__ explain what it means for the relational algebra to be _closed_ under the operations in the algebra. What is an important benefit?

<u>Answer:</u>

Be closed under the operations in the algebra could be interperated as the expression in the relational algebra is connected and the output from on operation could be used as input in another operation. 

It is important as this makes sure that the relations between tables are as little as possible. 

Reference: https://www.w3schools.in/dbms/relational-algebra/

## Question 4: Equivalent Queries

__Briefly__ explain the concept of equivalent queries. Use the concept to explain how it is possible to derive the JOIN operation from other operations (SELECT, PROJECT).

<u>Answer:</u>
Equivalent queries means that even though two queries are not identical, they are equivalent if their outputs are the same on any database. 

It is possible to derive JOIN operation by nested SELECT becasue they both combine single results and could return rows. When using inner JOIN, we can use the SELECT STRAIGHT JOIN XXX field, XXX field, to force the left table to be the primary table, which can then be applied to the index.

## Question 5: More General Attribute Types

The relational model places restrictions on attributes. Many data scenarios have more complex types of attributes. __Briefly__ explain the following types of attributes:

- Simple attribute
- Composite attribute
- Derived attribute
- Single-value attribute
- Multi-value attribute

<u>Answer:</u>

- Simple attribute means the attribute could not be further divided into simple attribule. It is atomic. 
- Composite attribute means the attribute could be divided or seperated into more detailed components. 
- Derived attribute means the attribute value could be derived from other attributes.
- Single-value attribute means that for each entity instance, there is only single value.
- Multi-value attribute means that for each entity instance, there are more than one single value be contained.

Reference: https://www.geeksforgeeks.org/types-of-attributes-in-er-model/#:~:text=Attributes%20can%20also%20be%20subdivided,%2Dvalued%2C%20and%20Derived%20attribute.

# Practical Problems

## Setup

- Modify the cells below to setup your environment.


- The change should just be setting the DB user ID and password, replacing my user ID and password with yours for MySQL.

In [18]:
database_user_id = "root"
database_pwd = "Zxw981120+"

In [19]:
database_url = "mysql+pymysql://" + \
    database_user_id + ":" + database_pwd + "@localhost"
database_url

'mysql+pymysql://root:Zxw981120+@localhost'

In [20]:
%reload_ext sql

In [21]:
%sql $database_url

'Connected: root@None'

In [22]:
from sqlalchemy import create_engine

In [23]:
sqla_engine = create_engine(database_url)

In [24]:
#
# We are going to create a schema and some tables for the HW.
#
%sql create schema if not exists S22_W4111_HW2
%sql select 1;

 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.

[(1,)]

## Question 6: Manipulating String and Types

### Setup

- Run the following code cells.


- These cells create a table ```people_info``` and loads the table with a bunch of input strings.

In [25]:
input_string = [
    "Towny,Cavet,tcavet0@blinklist.com,1/9/1971,+62 (340) 387-5141",
    "Port,Gaylor,pgaylor1@blogger.com,3/15/1939,+86 (517) 758-9970",
    "Georgetta,Haddon,ghaddon2@symantec.com,9/19/1997,+81 (356) 753-5556",
    "Wylma,Lanney,wlanney3@list-manage.com,2/21/2018,+385 (853) 541-7347",
    "Mignonne,Georgeson,mgeorgeson4@123-reg.co.uk,8/7/1991,+63 (834) 397-5285",
    "Cchaddie,Cossins,ccossins5@chronoengine.com,3/12/1911,+242 (313) 943-4080",
    "Andie,Matyushonok,amatyushonok6@ask.com,4/24/1907,+380 (410) 464-9093",
    "Skippie,Zuenelli,szuenelli7@merriam-webster.com,3/22/2014,+7 (279) 484-2088",
    "Averyl,Barajas,abarajas8@fastcompany.com,6/19/1996,+232 (962) 344-7325",
    "Olia,Habens,ohabens9@quantcast.com,2/28/1922,+98 (935) 300-9359"
]

In [26]:
import pandas

In [27]:
df = pandas.DataFrame(input_string)

In [28]:
df.to_sql(
    "people_info", con=sqla_engine, if_exists="replace", index=False,
    schema="S22_W4111_HW2")

In [29]:
%sql use S22_W4111_HW2
%sql select 1;

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.

[(1,)]

- Test loading the data.

In [30]:
%sql select * from people_info

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('Towny,Cavet,tcavet0@blinklist.com,1/9/1971,+62 (340) 387-5141',),
 ('Port,Gaylor,pgaylor1@blogger.com,3/15/1939,+86 (517) 758-9970',),
 ('Georgetta,Haddon,ghaddon2@symantec.com,9/19/1997,+81 (356) 753-5556',),
 ('Wylma,Lanney,wlanney3@list-manage.com,2/21/2018,+385 (853) 541-7347',),
 ('Mignonne,Georgeson,mgeorgeson4@123-reg.co.uk,8/7/1991,+63 (834) 397-5285',),
 ('Cchaddie,Cossins,ccossins5@chronoengine.com,3/12/1911,+242 (313) 943-4080',),
 ('Andie,Matyushonok,amatyushonok6@ask.com,4/24/1907,+380 (410) 464-9093',),
 ('Skippie,Zuenelli,szuenelli7@merriam-webster.com,3/22/2014,+7 (279) 484-2088',),
 ('Averyl,Barajas,abarajas8@fastcompany.com,6/19/1996,+232 (962) 344-7325',),
 ('Olia,Habens,ohabens9@quantcast.com,2/28/1922,+98 (935) 300-9359',)]

- Can we describe what the table looks like?

In [31]:
%sql describe people_info;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('0', 'text', 'YES', '', None, '')]

### Tasks

- The created table has one column ```0```. The values are strings with data separated by ```,```. The fields in the string are (in order):
    - ```first_name```
    - ```last_name```
    - ```email```
    - ```date_of_birth```
    - ```telephone_no```, which is of the form ```+CC (XXX)-XXX-XXXX``` where ```CC``` is the country code and the remainder is the number.
    
    
- You must process and cleanup the data using __ONLY__ SQL statements. The cleanup tasks include:
    - Creating a new table ```people_info_clean``` with a structure that better represents the data, e.g. columns, column data types, etc.
    - Converting each string and its subfields into the rows of ```people_info_clean```.
    
    
- You may use as many DDL and DML SQL statements as you need.


- Execute your statements in the cells below and show the output of the execution.


- The last two cells show show the data and schema for the information.

In [32]:
%sql drop table if exists people_info_clean;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [33]:
%%sql 
create table if not exists people_info_clean
(   
    first_name varchar(64) null,
    last_name varchar(64) null,
    email varchar(128) null,
    date_of_birth varchar(128) null,
    phone_no varchar(32),
    tmp varchar(128)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [34]:
%sql select * from people_info;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('Towny,Cavet,tcavet0@blinklist.com,1/9/1971,+62 (340) 387-5141',),
 ('Port,Gaylor,pgaylor1@blogger.com,3/15/1939,+86 (517) 758-9970',),
 ('Georgetta,Haddon,ghaddon2@symantec.com,9/19/1997,+81 (356) 753-5556',),
 ('Wylma,Lanney,wlanney3@list-manage.com,2/21/2018,+385 (853) 541-7347',),
 ('Mignonne,Georgeson,mgeorgeson4@123-reg.co.uk,8/7/1991,+63 (834) 397-5285',),
 ('Cchaddie,Cossins,ccossins5@chronoengine.com,3/12/1911,+242 (313) 943-4080',),
 ('Andie,Matyushonok,amatyushonok6@ask.com,4/24/1907,+380 (410) 464-9093',),
 ('Skippie,Zuenelli,szuenelli7@merriam-webster.com,3/22/2014,+7 (279) 484-2088',),
 ('Averyl,Barajas,abarajas8@fastcompany.com,6/19/1996,+232 (962) 344-7325',),
 ('Olia,Habens,ohabens9@quantcast.com,2/28/1922,+98 (935) 300-9359',)]

In [35]:
%sql insert into people_info_clean(tmp) select `0` from people_info;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[]

In [36]:
%sql select * from people_info_clean;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[(None, None, None, None, None, 'Towny,Cavet,tcavet0@blinklist.com,1/9/1971,+62 (340) 387-5141'),
 (None, None, None, None, None, 'Port,Gaylor,pgaylor1@blogger.com,3/15/1939,+86 (517) 758-9970'),
 (None, None, None, None, None, 'Georgetta,Haddon,ghaddon2@symantec.com,9/19/1997,+81 (356) 753-5556'),
 (None, None, None, None, None, 'Wylma,Lanney,wlanney3@list-manage.com,2/21/2018,+385 (853) 541-7347'),
 (None, None, None, None, None, 'Mignonne,Georgeson,mgeorgeson4@123-reg.co.uk,8/7/1991,+63 (834) 397-5285'),
 (None, None, None, None, None, 'Cchaddie,Cossins,ccossins5@chronoengine.com,3/12/1911,+242 (313) 943-4080'),
 (None, None, None, None, None, 'Andie,Matyushonok,amatyushonok6@ask.com,4/24/1907,+380 (410) 464-9093'),
 (None, None, None, None, None, 'Skippie,Zuenelli,szuenelli7@merriam-webster.com,3/22/2014,+7 (279) 484-2088'),
 (None, None, None, None, None, 'Averyl,Barajas,abarajas8@fastcompany.com,6/19/1996,+232 (962) 344-7325'),
 (None, None, None, None, None, 'Olia,Habens,ohabens9@quantcast.com,2/28/1922,+98 (935) 300-9359')]

In [37]:
%sql update people_info_clean set first_name =substr(tmp,1,locate(',',tmp)-1), tmp =substr(tmp, locate(',',tmp)+1);

 * mysql+pymysql://root:***@localhost
10 rows affected.

[]

In [38]:
%sql update people_info_clean set last_name =substr(tmp,1,locate(',',tmp)-1), tmp =substr(tmp, locate(',',tmp)+1);

 * mysql+pymysql://root:***@localhost
10 rows affected.

[]

In [39]:
%sql update people_info_clean set email =substr(tmp,1,locate(',',tmp)-1), tmp =substr(tmp, locate(',',tmp)+1);

 * mysql+pymysql://root:***@localhost
10 rows affected.

[]

In [40]:
%sql update people_info_clean set date_of_birth =substr(tmp,1,locate(',',tmp)-1), tmp =substr(tmp, locate(',',tmp)+1);

 * mysql+pymysql://root:***@localhost
10 rows affected.

[]

In [41]:
%sql update people_info_clean set phone_no= tmp;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[]

In [42]:
%sql ALTER TABLE people_info_clean DROP COLUMN tmp;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [43]:
#
# Show the data.
#
%sql select * from people_info_clean

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('Towny', 'Cavet', 'tcavet0@blinklist.com', '1/9/1971', '+62 (340) 387-5141'),
 ('Port', 'Gaylor', 'pgaylor1@blogger.com', '3/15/1939', '+86 (517) 758-9970'),
 ('Georgetta', 'Haddon', 'ghaddon2@symantec.com', '9/19/1997', '+81 (356) 753-5556'),
 ('Wylma', 'Lanney', 'wlanney3@list-manage.com', '2/21/2018', '+385 (853) 541-7347'),
 ('Mignonne', 'Georgeson', 'mgeorgeson4@123-reg.co.uk', '8/7/1991', '+63 (834) 397-5285'),
 ('Cchaddie', 'Cossins', 'ccossins5@chronoengine.com', '3/12/1911', '+242 (313) 943-4080'),
 ('Andie', 'Matyushonok', 'amatyushonok6@ask.com', '4/24/1907', '+380 (410) 464-9093'),
 ('Skippie', 'Zuenelli', 'szuenelli7@merriam-webster.com', '3/22/2014', '+7 (279) 484-2088'),
 ('Averyl', 'Barajas', 'abarajas8@fastcompany.com', '6/19/1996', '+232 (962) 344-7325'),
 ('Olia', 'Habens', 'ohabens9@quantcast.com', '2/28/1922', '+98 (935) 300-9359')]

In [44]:
#
# Show the schema (architecture and structure).
#
%sql describe people_info_clean;

 * mysql+pymysql://root:***@localhost
5 rows affected.

[('first_name', 'varchar(64)', 'YES', '', None, ''),
 ('last_name', 'varchar(64)', 'YES', '', None, ''),
 ('email', 'varchar(128)', 'YES', '', None, ''),
 ('date_of_birth', 'varchar(128)', 'YES', '', None, ''),
 ('phone_no', 'varchar(32)', 'YES', '', None, '')]

## Question 7: Intermediate SQL and Data Processing

### Task 1: Load Data

- Continue to use the schema you created - ```S22_W4111_HW2```.


- There are three files in the homework folder:
    - ```People.csv```
    - ```Appearances.csv```
    - ```Batting.csv```
    
    
- Use one of the approaches we have previously used directly in notebooks to load the CSV files into the schema above. 
    - You __may not__ use external tools like DataGrip.
    - Some examples of techniques are in HW 1 and in the Pandas examples.
    
    
- Put your code in the cells provided below. The final cells, which you must run after loading the CSV files, simply display some information.

In [45]:
import pymysql

In [46]:
%sql drop table if exists S22_W4111_HW2.people;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [47]:
%%sql 
create table if not exists S22_W4111_HW2.people
(
	playerID text null,
	birthYear text null,
	birthMonth text null,
	birthDay text null,
	birthCountry text null,
	birthState text null,
	birthCity text null,
	deathYear text null,
	deathMonth text null,
	deathDay text null,
	deathCountry text null,
	deathState text null,
	deathCity text null,
	nameFirst text null,
	nameLast text null,
	nameGiven text null,
	weight text null,
	height text null,
	bats text null,
	throws text null,
	debut text null,
	finalGame text null,
	retroID text null,
	bbrefID text null

);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [48]:
%sql SET GLOBAL local_infile = 'ON';

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [49]:
con = pymysql.connect(host="localhost",
                        user="root",
                        password="Zxw981120+",
                        autocommit=True,
                        local_infile=1)

In [50]:
sql = """
LOAD DATA LOCAL INFILE
'/Users/apple/Desktop/xz2996_hw2_all/People.csv'
INTO TABLE S22_W4111_HW2.people
    FIELDS TERMINATED BY ','
    ENCLOSED BY '"'
    LINES TERMINATED BY '\n'
    IGNORE 1 LINES;
"""

In [51]:
cur = con.cursor()

In [52]:
cur.execute(sql)

20358

In [53]:
cur.close()

In [54]:
# Batting.csv

In [55]:
%sql drop table if exists S22_W4111_HW2.Batting;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [56]:
%%sql 
create table if not exists S22_W4111_HW2.Batting
(
	playerID text null,
	yearID text null,
	stint text null,
	teamID text null,
	IgID text null,
	G text null,
	AB text null,
	R text null,
	H text null,
	2B text null,
	3B text null,
	HR text null,
	RBI text null,
	SB text null,
	CS text null,
	BB text null,
	SO text null,
	IBB text null,
	HBP text null,
	SH text null,
	SF text null,
	GIDP text null    
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [57]:
%sql SET GLOBAL local_infile = 'ON';

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [58]:
con = pymysql.connect(host="localhost",
                        user="root",
                        password="Zxw981120+",
                        autocommit=True,
                        local_infile=1)

In [59]:
sql = """
LOAD DATA LOCAL INFILE
'/Users/apple/Desktop/xz2996_hw2_all/Batting.csv'
INTO TABLE S22_W4111_HW2.Batting
    FIELDS TERMINATED BY ','
    ENCLOSED BY '"'
    LINES TERMINATED BY '\n'
    IGNORE 1 LINES;
"""

In [60]:
cur = con.cursor()

In [61]:
cur.execute(sql)

108789

In [62]:
cur.close()

In [63]:
#Appearances.csv

In [64]:
%sql drop table if exists S22_W4111_HW2.Appearances;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [65]:
%%sql 
create table if not exists S22_W4111_HW2.Appearances
(
	yearID text null,
	teamID text null,
	IgID text null,
	playerID text null,
	G_all text null,
	GS text null,
	G_batting text null,
	G_defense text null,
	G_p text null,
	G_c text null,
	G_1b text null,
	G_2b text null,
	G_3b text null,
	G_ss text null,
	G_If text null,
	G_cf text null,
	G_rf text null,
	G_of text null,
	G_dh text null,
	G_ph text null,
	G_pr text null
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [66]:
%sql SET GLOBAL local_infile = 'ON';

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [67]:
con = pymysql.connect(host="localhost",
                        user="root",
                        password="Zxw981120+",
                        autocommit=True,
                        local_infile=1)

In [68]:
sql = """
LOAD DATA LOCAL INFILE
'/Users/apple/Desktop/xz2996_hw2_all/Appearances.csv'
INTO TABLE S22_W4111_HW2.Appearances
    FIELDS TERMINATED BY ','
    ENCLOSED BY '"'
    LINES TERMINATED BY '\n'
    IGNORE 1 LINES;
"""

In [69]:
cur = con.cursor()

In [70]:
cur.execute(sql)

108717

In [71]:
cur.close()

In [72]:
# Some tests

In [73]:
%sql select * from people limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('aardsda01', '1981', '12', '27', 'USA', 'CO', 'Denver', '', '', '', '', '', '', 'David', 'Aardsma', 'David Allan', '215', '75', 'R', 'R', '2004-04-06', '2015-08-23', 'aardd001', 'aardsda01'),
 ('aaronha01', '1934', '2', '5', 'USA', 'AL', 'Mobile', '2021', '1', '22', 'USA', 'GA', 'Atlanta', 'Hank', 'Aaron', 'Henry Louis', '180', '72', 'R', 'R', '1954-04-13', '1976-10-03', 'aaroh101', 'aaronha01'),
 ('aaronto01', '1939', '8', '5', 'USA', 'AL', 'Mobile', '1984', '8', '16', 'USA', 'GA', 'Atlanta', 'Tommie', 'Aaron', 'Tommie Lee', '190', '75', 'R', 'R', '1962-04-10', '1971-09-26', 'aarot101', 'aaronto01'),
 ('aasedo01', '1954', '9', '8', 'USA', 'CA', 'Orange', '', '', '', '', '', '', 'Don', 'Aase', 'Donald William', '190', '75', 'R', 'R', '1977-07-26', '1990-10-03', 'aased001', 'aasedo01'),
 ('abadan01', '1972', '8', '25', 'USA', 'FL', 'Palm Beach', '', '', '', '', '', '', 'Andy', 'Abad', 'Fausto Andres', '184', '73', 'L', 'L', '2001-09-10', '2006-04-13', 'abada001', 'abadan01'),
 ('abadfe01', '1985', '12', '17', 'D.R.', 'La Romana', 'La Romana', '', '', '', '', '', '', 'Fernando', 'Abad', 'Fernando Antonio', '235', '74', 'L', 'L', '2010-07-28', '2021-10-01', 'abadf001', 'abadfe01'),
 ('abadijo01', '1850', '11', '4', 'USA', 'PA', 'Philadelphia', '1905', '5', '17', 'USA', 'NJ', 'Pemberton', 'John', 'Abadie', 'John W.', '192', '72', 'R', 'R', '1875-04-26', '1875-06-10', 'abadj101', 'abadijo01'),
 ('abbated01', '1877', '4', '15', 'USA', 'PA', 'Latrobe', '1957', '1', '6', 'USA', 'FL', 'Fort Lauderdale', 'Ed', 'Abbaticchio', 'Edward James', '170', '71', 'R', 'R', '1897-09-04', '1910-09-15', 'abbae101', 'abbated01'),
 ('abbeybe01', '1869', '11', '11', 'USA', 'VT', 'Essex', '1962', '6', '11', 'USA', 'VT', 'Colchester', 'Bert', 'Abbey', 'Bert Wood', '175', '71', 'R', 'R', '1892-06-14', '1896-09-23', 'abbeb101', 'abbeybe01'),
 ('abbeych01', '1866', '10', '14', 'USA', 'NE', 'Falls City', '1926', '4', '27', 'USA', 'CA', 'San Francisco', 'Charlie', 'Abbey', 'Charles S.', '169', '68', 'L', 'L', '1893-08-16', '1897-08-19', 'abbec101', 'abbeych01')]

In [74]:
%sql select * from appearances limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('1871', 'TRO', 'NA', 'abercda01', '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0'),
 ('1871', 'RC1', 'NA', 'addybo01', '25', '25', '25', '25', '0', '0', '0', '22', '0', '3', '0', '0', '0', '0', '0', '0', '0'),
 ('1871', 'CL1', 'NA', 'allisar01', '29', '29', '29', '29', '0', '0', '0', '2', '0', '0', '0', '29', '0', '29', '0', '0', '0'),
 ('1871', 'WS3', 'NA', 'allisdo01', '27', '27', '27', '27', '0', '27', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1871', 'RC1', 'NA', 'ansonca01', '25', '25', '25', '25', '0', '5', '1', '2', '20', '0', '1', '0', '0', '1', '0', '0', '0'),
 ('1871', 'FW1', 'NA', 'armstbo01', '12', '12', '12', '12', '0', '0', '0', '0', '0', '0', '0', '11', '1', '12', '0', '0', '0'),
 ('1871', 'RC1', 'NA', 'barkeal01', '1', '1', '1', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '1', '0', '0', '0'),
 ('1871', 'BS1', 'NA', 'barnero01', '31', '31', '31', '31', '0', '0', '0', '16', '0', '15', '0', '0', '0', '0', '0', '0', '0'),
 ('1871', 'FW1', 'NA', 'barrebi01', '1', '1', '1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0'),
 ('1871', 'BS1', 'NA', 'barrofr01', '18', '17', '18', '18', '0', '0', '0', '1', '0', '0', '13', '0', '4', '17', '0', '0', '0')]

In [75]:
%sql select * from batting limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('abercda01', '1871', '1', 'TRO', 'NA', '1', '4', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '', '', '', '', '0'),
 ('addybo01', '1871', '1', 'RC1', 'NA', '25', '118', '30', '32', '6', '0', '0', '13', '8', '1', '4', '0', '', '', '', '', '0'),
 ('allisar01', '1871', '1', 'CL1', 'NA', '29', '137', '28', '40', '4', '5', '0', '19', '3', '1', '2', '5', '', '', '', '', '1'),
 ('allisdo01', '1871', '1', 'WS3', 'NA', '27', '133', '28', '44', '10', '2', '2', '27', '1', '1', '0', '2', '', '', '', '', '0'),
 ('ansonca01', '1871', '1', 'RC1', 'NA', '25', '120', '29', '39', '11', '3', '0', '16', '6', '2', '2', '1', '', '', '', '', '0'),
 ('armstbo01', '1871', '1', 'FW1', 'NA', '12', '49', '9', '11', '2', '1', '0', '5', '0', '1', '0', '1', '', '', '', '', '0'),
 ('barkeal01', '1871', '1', 'RC1', 'NA', '1', '4', '0', '1', '0', '0', '0', '2', '0', '0', '1', '0', '', '', '', '', '0'),
 ('barnero01', '1871', '1', 'BS1', 'NA', '31', '157', '66', '63', '10', '9', '0', '34', '11', '6', '13', '1', '', '', '', '', '1'),
 ('barrebi01', '1871', '1', 'FW1', 'NA', '1', '5', '1', '1', '1', '0', '0', '1', '0', '0', '0', '0', '', '', '', '', '0'),
 ('barrofr01', '1871', '1', 'BS1', 'NA', '18', '86', '13', '13', '2', '1', '0', '11', '1', '0', '0', '0', '', '', '', '', '0')]

In [76]:
%sql describe people;

 * mysql+pymysql://root:***@localhost
24 rows affected.

[('playerID', 'text', 'YES', '', None, ''),
 ('birthYear', 'text', 'YES', '', None, ''),
 ('birthMonth', 'text', 'YES', '', None, ''),
 ('birthDay', 'text', 'YES', '', None, ''),
 ('birthCountry', 'text', 'YES', '', None, ''),
 ('birthState', 'text', 'YES', '', None, ''),
 ('birthCity', 'text', 'YES', '', None, ''),
 ('deathYear', 'text', 'YES', '', None, ''),
 ('deathMonth', 'text', 'YES', '', None, ''),
 ('deathDay', 'text', 'YES', '', None, ''),
 ('deathCountry', 'text', 'YES', '', None, ''),
 ('deathState', 'text', 'YES', '', None, ''),
 ('deathCity', 'text', 'YES', '', None, ''),
 ('nameFirst', 'text', 'YES', '', None, ''),
 ('nameLast', 'text', 'YES', '', None, ''),
 ('nameGiven', 'text', 'YES', '', None, ''),
 ('weight', 'text', 'YES', '', None, ''),
 ('height', 'text', 'YES', '', None, ''),
 ('bats', 'text', 'YES', '', None, ''),
 ('throws', 'text', 'YES', '', None, ''),
 ('debut', 'text', 'YES', '', None, ''),
 ('finalGame', 'text', 'YES', '', None, ''),
 ('retroID', 'text', 'YES', '', None, ''),
 ('bbrefID', 'text', 'YES', '', None, '')]

In [77]:
%sql describe appearances;

 * mysql+pymysql://root:***@localhost
21 rows affected.

[('yearID', 'text', 'YES', '', None, ''),
 ('teamID', 'text', 'YES', '', None, ''),
 ('IgID', 'text', 'YES', '', None, ''),
 ('playerID', 'text', 'YES', '', None, ''),
 ('G_all', 'text', 'YES', '', None, ''),
 ('GS', 'text', 'YES', '', None, ''),
 ('G_batting', 'text', 'YES', '', None, ''),
 ('G_defense', 'text', 'YES', '', None, ''),
 ('G_p', 'text', 'YES', '', None, ''),
 ('G_c', 'text', 'YES', '', None, ''),
 ('G_1b', 'text', 'YES', '', None, ''),
 ('G_2b', 'text', 'YES', '', None, ''),
 ('G_3b', 'text', 'YES', '', None, ''),
 ('G_ss', 'text', 'YES', '', None, ''),
 ('G_If', 'text', 'YES', '', None, ''),
 ('G_cf', 'text', 'YES', '', None, ''),
 ('G_rf', 'text', 'YES', '', None, ''),
 ('G_of', 'text', 'YES', '', None, ''),
 ('G_dh', 'text', 'YES', '', None, ''),
 ('G_ph', 'text', 'YES', '', None, ''),
 ('G_pr', 'text', 'YES', '', None, '')]

In [78]:
%sql describe batting;

 * mysql+pymysql://root:***@localhost
22 rows affected.

[('playerID', 'text', 'YES', '', None, ''),
 ('yearID', 'text', 'YES', '', None, ''),
 ('stint', 'text', 'YES', '', None, ''),
 ('teamID', 'text', 'YES', '', None, ''),
 ('IgID', 'text', 'YES', '', None, ''),
 ('G', 'text', 'YES', '', None, ''),
 ('AB', 'text', 'YES', '', None, ''),
 ('R', 'text', 'YES', '', None, ''),
 ('H', 'text', 'YES', '', None, ''),
 ('2B', 'text', 'YES', '', None, ''),
 ('3B', 'text', 'YES', '', None, ''),
 ('HR', 'text', 'YES', '', None, ''),
 ('RBI', 'text', 'YES', '', None, ''),
 ('SB', 'text', 'YES', '', None, ''),
 ('CS', 'text', 'YES', '', None, ''),
 ('BB', 'text', 'YES', '', None, ''),
 ('SO', 'text', 'YES', '', None, ''),
 ('IBB', 'text', 'YES', '', None, ''),
 ('HBP', 'text', 'YES', '', None, ''),
 ('SH', 'text', 'YES', '', None, ''),
 ('SF', 'text', 'YES', '', None, ''),
 ('GIDP', 'text', 'YES', '', None, '')]

### Task 2: Complicated Queries

__Note:__ Performing the query in this task may require changing column values or types.

#### Query - Career Summary

- Write a query that produces a result of the form:
    - ```playerID```
    - ```nameLast```
    - ```nameFirst```
    - The sum of ```appearances.G_all``` for the player over all rows.
    - The sum over all rows of the following columns from batting:
        - ```G```
        - ```AB```
        - ```R```
        - ```AB```
        - ```2B```
        - ```3B```
        - ```HR```
        - ```RBI```
        - ```BB```
  
    - ```batting_average```, which is defined as $
\dfrac{sum(H)}{sum(AB)}
$

    - ```on_base_percentage```, which is defined as $
\dfrac{(sum(H) + sum(BB))}{(sum(AB) + sum(BB))}
$


- The query should be limited to 20 rows, and sorted by ```on_base_percentage``` from highest to lowest.


- ```batting_average``` and ```on_base_percentage``` should round to three decimal places.

In [79]:
%%sql with people_basic as
    (
        select playerID, nameLast, nameFirst from people
    ),
appearances_career as
         (
             select playerID, sum(G_all) as total_g from appearances group by playerID limit 20
         ),
basic_appearance as (
    select *from people_basic join appearances_career using(playerID)
),

batting_G as (
    select playerID, sum(G) as sum_batting_G from batting group by playerID limit 20
),
rows_sumg as (
select *from basic_appearance join batting_G using(playerID)
    ),

batting_AB as (
    select playerID, sum(AB) as sum_AB from batting group by playerID limit 20
),
rows_sumAB as (
select *from rows_sumg join batting_AB using(playerID)
    ),

batting_R as (
    select playerID, sum(R) as sum_R from batting group by playerID limit 20
),
rows_sumR as (
select *from rows_sumAB join batting_R using(playerID)
    ),

batting_2B as (
    select playerID, sum(2B) as sum_2B from batting group by playerID limit 20
),
rows_sum2B as (
select *from rows_sumR join batting_2b using(playerID)
    ),
batting_3B as (
    select playerID, sum(3B) as sum_3B from batting group by playerID limit 20
),
rows_sum3B as (
select *from rows_sum2B join batting_3B using(playerID)
    ),

batting_HR as (
    select playerID, sum(HR) as sum_HR from batting group by playerID limit 20
),
rows_sumHR as (
select *from rows_sum3B join batting_HR using(playerID)
    ),

batting_RBI as (
    select playerID, sum(RBI) as sum_RBI from batting group by playerID limit 20
),
rows_sumRBI as (
select *from rows_sumHR join batting_RBI using(playerID)
    ),

batting_BB as (
    select playerID, sum(BB) as sum_BB from batting group by playerID limit 20
),
rows_sumBB as (
select *from rows_sumRBI join batting_BB using(playerID)
    ),

batting_average as (
    select playerID, round(sum(H)/if(sum(AB)=0,NULL, sum(AB)),3) as batting_average from batting group by playerID limit 20

    ),
average_sums as (
select * from rows_sumBB join batting_average using(playerID)
    ),
on_base_percentage as (
select playerID, round((sum(H)+sum(BB))/if ((sum(AB)+sum(BB))=0,NULL, ((sum(AB)+sum(BB)))),3) as on_base_percentage from batting group by playerID limit 20
    )
select *from average_sums join on_base_percentage using(playerID);

 * mysql+pymysql://root:***@localhost
20 rows affected.

[('abercda01', 'Abercrombie', 'Frank', 1.0, 1.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('addybo01', 'Addy', 'Bob', 274.0, 274.0, 1231.0, 227.0, 36.0, 13.0, 1.0, 167.0, 20.0, 0.277, 0.289),
 ('allisar01', 'Allison', 'Art', 168.0, 168.0, 741.0, 106.0, 19.0, 8.0, 1.0, 70.0, 5.0, 0.254, 0.259),
 ('allisdo01', 'Allison', 'Doug', 316.0, 318.0, 1407.0, 236.0, 44.0, 10.0, 2.0, 139.0, 24.0, 0.271, 0.284),
 ('ansonca01', 'Anson', 'Cap', 2524.0, 2524.0, 10281.0, 1999.0, 582.0, 142.0, 97.0, 2075.0, 984.0, 0.334, 0.392),
 ('armstbo01', 'Armstrong', 'Robert', 12.0, 12.0, 49.0, 9.0, 2.0, 1.0, 0.0, 5.0, 0.0, 0.224, 0.224),
 ('barkeal01', 'Barker', 'Al', 1.0, 1.0, 4.0, 0.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.25, 0.4),
 ('barnero01', 'Barnes', 'Ross', 499.0, 499.0, 2391.0, 698.0, 146.0, 47.0, 6.0, 346.0, 116.0, 0.36, 0.389),
 ('barrebi01', 'Barrett', 'Bill', 3.0, 3.0, 13.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.154, 0.154),
 ('barrofr01', 'Barrows', 'Frank', 18.0, 18.0, 86.0, 13.0, 2.0, 1.0, 0.0, 11.0, 0.0, 0.151, 0.151),
 ('bassjo01', 'Bass', 'John', 25.0, 25.0, 100.0, 19.0, 2.0, 10.0, 3.0, 19.0, 3.0, 0.29, 0.311),
 ('battijo01', 'Battin', 'Joe', 480.0, 480.0, 1953.0, 228.0, 51.0, 25.0, 3.0, 143.0, 40.0, 0.225, 0.24),
 ('bealsto01', 'Beals', 'Tommy', 123.0, 123.0, 539.0, 109.0, 15.0, 16.0, 0.0, 64.0, 8.0, 0.243, 0.254),
 ('beaveed01', 'Beavens', 'Edward', 13.0, 13.0, 58.0, 13.0, 2.0, 0.0, 0.0, 7.0, 1.0, 0.259, 0.271),
 ('bechtge01', 'Bechtel', 'George', 220.0, 221.0, 1040.0, 216.0, 48.0, 12.0, 3.0, 165.0, 22.0, 0.277, 0.292),
 ('bellast01', 'Bellan', 'Steve', 60.0, 60.0, 275.0, 52.0, 9.0, 3.0, 0.0, 43.0, 11.0, 0.251, 0.28),
 ('berkena01', 'Berkenstock', 'Nate', 1.0, 1.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('berryto01', 'Berry', 'Tom', 1.0, 1.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.25, 0.25),
 ('berthha01', 'Berthrong', 'Harry', 17.0, 17.0, 73.0, 17.0, 1.0, 1.0, 0.0, 8.0, 4.0, 0.233, 0.273),
 ('biermch01', 'Bierman', 'Charles', 1.0, 1.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.333)]

## Question 8: "Fun" with Sets


- ```People``` represents basic information about people associated with Major League Baseball.


- ```Appearances``` contains information about people who appeared (played in) MLB games.


- There are some entries in the ```People``` table that do not appear in ```Appearances```.


- Using a __subquery__, write a query that counts the number of people in the ```People``` table who do not have an entry in ```Appearances```.


- Run your query below. Note, your query will be __SLOW.__

In [80]:
%%sql select distinct playerID
from people
where playerID not in (
    select playerID from appearances
    )

 * mysql+pymysql://root:***@localhost
460 rows affected.

[('abbotco01',),
 ('acevedo01',),
 ('actama99',),
 ('adairbi99',),
 ('adamsri03',),
 ('adonjo01',),
 ('aguilmi01',),
 ('alexyaj01',),
 ('allgeni01',),
 ('amburtr01',),
 ('arihako01',),
 ('armoubi99',),
 ('ashbyaa01',),
 ('baddoak01',),
 ('bakerbr01',),
 ('baldoal01',),
 ('bancrfr99',),
 ('barlial99',),
 ('barlojo01',),
 ('barnech01',),
 ('barrelu01',),
 ('barrema03',),
 ('barroed99',),
 ('baumami01',),
 ('bazared01',),
 ('bazsh01',),
 ('beerse01',),
 ('bellco99',),
 ('bendean01',),
 ('bettial01',),
 ('bevinte99',),
 ('bezdehu99',),
 ('bicke99',),
 ('bolesjo99',),
 ('bostiak01',),
 ('bowdebe01',),
 ('brentja01',),
 ('bristda99',),
 ('brownda99',),
 ('brownfr99',),
 ('brownra99',),
 ('bruihju01',),
 ('brujavi01',),
 ('buckeal99',),
 ('bukaujb01',),
 ('bulkemo99',),
 ('burgeja01',),
 ('burnhwa99',),
 ('butleor99',),
 ('byrnech99',),
 ('cabreed02',),
 ('camarda01',),
 ('campbpa02',),
 ('cantijo99',),
 ('carltdr01',),
 ('cartwal99',),
 ('castier01',),
 ('castiiv01',),
 ('castrke01',),
 ('castrro01',),
 ('cayloop99',),
 ('celesgi01',),
 ('chadwhe99',),
 ('chandha99',),
 ('charlos99',),
 ('chylane99',),
 ('claysa01',),
 ('clemeer01',),
 ('colemdy01',),
 ('collite99',),
 ('connoto99',),
 ('contrro01',),
 ('coopean99',),
 ('cousija01',),
 ('crawfku01',),
 ('criswco01',),
 ('crousha01',),
 ('cruzon01',),
 ('curtied99',),
 ('cushmch99',),
 ('dandrra99',),
 ('davidmo99',),
 ('dawsoro01',),
 ('dayjo99',),
 ('dayle99',),
 ('defrato99',),
 ('degeubr01',),
 ('degotal01',),
 ('deichgr01',),
 ('delacbr01',),
 ('detmere01',),
 ('deverjo01',),
 ('diazjh01',),
 ('diddlha99',),
 ('dihigma99',),
 ('diplama01',),
 ('dohyky01',),
 ('dorowry01',),
 ('dovalca01',),
 ('dreyfba99',),
 ('duranja01',),
 ('ebbetch99',),
 ('effrosc01',),
 ('ellisdr01',),
 ('emanuke01',),
 ('espinra01',),
 ('evansbi99',),
 ('faircst01',),
 ('falteba01',),
 ('fargajo01',),
 ('felicma01',),
 ('feltnry01',),
 ('fernaju02',),
 ('fessewa99',),
 ('flaaja01',),
 ('fogelho99',),
 ('foleyja01',),
 ('forteni01',),
 ('fostebi99',),
 ('fosteru99',),
 ('francwa01',),
 ('frazege99',),
 ('freyji99',),
 ('friaslu01',),
 ('frickfo99',),
 ('friedtj01',),
 ('fuchsju99',),
 ('gaffnjo99',),
 ('galanma99',),
 ('garcida99',),
 ('garzaju01',),
 ('garzara01',),
 ('giambtr01',),
 ('gibsojo99',),
 ('giffoji99',),
 ('gilbelo01',),
 ('gilbety01',),
 ('gilbrlu01',),
 ('gileswa99',),
 ('gillipa99',),
 ('gillu01',),
 ('gittech01',),
 ('godoyjo01',),
 ('gonzafr99',),
 ('gonzaro01',),
 ('gordoni01',),
 ('graffma99',),
 ('grantfr99',),
 ('grayjo03',),
 ('greenco01',),
 ('guentse01',),
 ('gushuta01',),
 ('gutievl01',),
 ('hackech99',),
 ('hagerja01',),
 ('harriwi99',),
 ('hartji99',),
 ('hartjo99',),
 ('hartmry01',),
 ('harvedo99',),
 ('headlo01',),
 ('heasljo01',),
 ('heilblo99',),
 ('hemonro99',),
 ('hendebi99',),
 ('hendrry01',),
 ('hengled99',),
 ('henrypa01',),
 ('hentgsa01',),
 ('hernayo02',),
 ('hewetwa99',),
 ('higgipj01',),
 ('hillmtr99',),
 ('hillpe99',),
 ('himslve99',),
 ('hoeyfr99',),
 ('honeybr01',),
 ('hubbaca99',),
 ('huffge99',),
 ('hulbewi99',),
 ('hurstsc01',),
 ('hurstti99',),
 ('hydebr99',),
 ('ibanean01',),
 ('indiajo01',),
 ('isbelky01',),
 ('iveyty01',),
 ('jacksan01',),
 ('jannimi01',),
 ('jaxgr01',),
 ('jennida99',),
 ('johnsba99',),
 ('johnsju99',),
 ('jonesda07',),
 ('junkja01',),
 ('keanejo99',),
 ('kelenja01',),
 ('kenneji99',),
 ('kenneke99',),
 ('kigerma01',),
 ('kimha01',),
 ('kirilal01',),
 ('klembi99',),
 ('kloboga01',),
 ('knehrre01',),
 ('knighdu01',),
 ('koernbr01',),
 ('kowarja01',),
 ('kranima01',),
 ('krolja99',),
 ('krugeja01',),
 ('kuehlka99',),
 ('kuhnbo99',),
 ('landike99',),
 ('langeal01',),
 ('larnatr01',),
 ('latzja01',),
 ('lawreju01',),
 ('leadlbo99',),
 ('leedy01',),
 ('leekh01',),
 ('leonabu99',),
 ('leylaji99',),
 ('leyvani99',),
 ('littlgr99',),
 ('lloydpo99',),
 ('longsa01',),
 ('lopezal03',),
 ('lopezja03',),
 ('lopezot01',),
 ('lowejo01',),
 ('lowthza01',),
 ('lucchfr99',),
 ('lynchda02',),
 ('mackebi99',),
 ('macphla99',),
 ('macphle99',),
 ('maddojo99',),
 ('maderlu01',),
 ('manleef99',),
 ('mannima01',),
 ('manoaal01',),
 ('marcatu01',),
 ('marshbr02',),
 ('martejo01',),
 ('martelu02',),
 ('martise01',),
 ('matonni01',),
 ('mattsis01',),
 ('mazeipa01',),
 ('mccalja99',),
 ('mccarja02',),
 ('mccarjo99',),
 ('mccauda01',),
 ('mcclash01',),
 ('mcclojo99',),
 ('mccorch01',),
 ('mcgahme99',),
 ('mcgowbi99',),
 ('mckenry01',),
 ('mckeoja99',),
 ('mcknide99',),
 ('mclarjo99',),
 ('mcmange99',),
 ('mcnamjo99',),
 ('megiltr01',),
 ('megilty01',),
 ('mejiaje02',),
 ('mendejo99',),
 ('merrist99',),
 ('meyerja02',),
 ('mileyda99',),
 ('millebr03',),
 ('milleow01',),
 ('millera99',),
 ('millswy01',),
 ('moranjo01',),
 ('moretda01',),
 ('morgael01',),
 ('mosesfe99',),
 ('mulleky01',),
 ('murphpa99',),
 ('murrabi99',),
 ('mutriji99',),
 ('nanceto01',),
 ('naughpa01',),
 ('nevinty01',),
 ('nittovi01',),
 ('nootbla01',),
 ('northaa01',),
 ('nunezda01',),
 ('oberba01',),
 ('obrieri01',),
 ('omallwa99',),
 ('ortegol01',),
 ('ortka01',),
 ('ottogl01',),
 ('overtco01',),
 ('oviedlu01',),
 ('owenhu01',),
 ('owenspa99',),
 ('ozarkda99',),
 ('padloke01',),
 ('palacjo01',),
 ('parkho01',),
 ('paynety01',),
 ('peacoma01',),
 ('pegueel01',),
 ('perdoge01',),
 ('perezfr01',),
 ('peterdj01',),
 ('phelale99',),
 ('phillho99',),
 ('phillle99',),
 ('pompeal99',),
 ('popowed99',),
 ('popza01',),
 ('poseycu99',),
 ('poteeco01',),
 ('powerpa99',),
 ('pozoyo01',),
 ('pricebr99',),
 ('priceji99',),
 ('quademi99',),
 ('raleica01',),
 ('raleylu01',),
 ('ramoshe01',),
 ('rappve99',),
 ('rayco01',),
 ('reedja02',),
 ('reetzja01',),
 ('reksza01',),
 ('riddogr99',),
 ('ridinst01',),
 ('rigglji99',),
 ('ripkeca99',),
 ('rivasal01',),
 ('rivaswe01',),
 ('riverem01',),
 ('riverse01',),
 ('robisst99',),
 ('robsoja01',),
 ('rodrich01',),
 ('rodrima01',),
 ('roganbu99',),
 ('rojasjo02',),
 ('rojaslu99',),
 ('romerjh01',),
 ('rondoan01',),
 ('rortvbe01',),
 ('rowlapa99',),
 ('ruckemi01',),
 ('ruperja99',),
 ('ryanjo04',),
 ('sanchcr01',),
 ('sanchmi01',),
 ('sandlni01',),
 ('sanmare01',),
 ('santito01',),
 ('santogr01',),
 ('santolo99',),
 ('sauceta01',),
 ('sawamhi01',),
 ('sawyeed99',),
 ('scanlmi99',),
 ('sceroma01',),
 ('schaebo99',),
 ('schmegu99',),
 ('schurjo99',),
 ('seaboco01',),
 ('seleefr99',),
 ('seligbu99',),
 ('sharsbi99',),
 ('sheetga01',),
 ('sheffjo01',),
 ('sheltde99',),
 ('shepala99',),
 ('shettbi99',),
 ('shildmi99',),
 ('shortza01',),
 ('showabu99',),
 ('simmole99',),
 ('sirijo01',),
 ('sittibr01',),
 ('smithhi99',),
 ('smithke05',),
 ('sneadki01',),
 ('snitkbr99',),
 ('snydeni01',),
 ('solompe01',),
 ('spencha99',),
 ('spitzsh01',),
 ('steartu99',),
 ('steelju01',),
 ('stephtr01',),
 ('stoketr01',),
 ('stridsp01',),
 ('sullipa99',),
 ('suttlmu99',),
 ('szaputh01',),
 ('taylobe99',),
 ('tayloge99',),
 ('terrycu01',),
 ('thomadi01',),
 ('thomafr99',),
 ('thompam99',),
 ('thompke02',),
 ('thompma02',),
 ('thompza01',),
 ('ticety01',),
 ('tigheja99',),
 ('tinglja99',),
 ('tomka01',),
 ('torricr99',),
 ('toscaca99',),
 ('trammta01',),
 ('trebeto99',),
 ('trejoal01',),
 ('trembda99',),
 ('turnete99',),
 ('tylerky01',),
 ('ucetaed01',),
 ('vaughan01',),
 ('veeckbi99',),
 ('vestwi01',),
 ('vierlma01',),
 ('viladry01',),
 ('vondech99',),
 ('vosleja01',),
 ('wadeko01',),
 ('wallsta01',),
 ('walshmi99',),
 ('waltzjo99',),
 ('wantzan01',),
 ('warreau01',),
 ('watkiha99',),
 ('watkisp01',),
 ('weathry01',),
 ('weaveea99',),
 ('weissge99',),
 ('welkeco01',),
 ('wellsal01',),
 ('wellsty01',),
 ('wellswi99',),
 ('whiteso99',),
 ('whitlga01',),
 ('wilkijl99',),
 ('williji99',),
 ('willijo99',),
 ('willilu01',),
 ('wilsoco01',),
 ('wilsoja03',),
 ('wilsoju99',),
 ('winklbo99',),
 ('wongco01',),
 ('wrighal99',),
 ('yanghy01',),
 ('yawketo99',),
 ('youngni99',),
 ('zerpaan01',)]

- Just for the heck of it, run the scripts below and repeat your query. Also, the changes I am making are a good hint on how to solve the problem.

In [83]:
%%sql

use s22_w4111_hw2;

drop table if exists people_fast;
drop table if exists appearances_fast;

create table people_fast as select * from people;
create table appearances_fast as select * from appearances;

ALTER TABLE `appearances_fast` 
CHANGE COLUMN `playerID` `playerID` VARCHAR(16) NULL DEFAULT NULL ,
ADD INDEX `playerID_idx` (playerID) VISIBLE;

ALTER TABLE `people_fast` 
CHANGE COLUMN `playerID` `playerID` VARCHAR(16) NULL DEFAULT NULL ,
ADD INDEX `peopleID_idx` (playerID) VISIBLE;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
20359 rows affected.
108717 rows affected.
108717 rows affected.
20359 rows affected.

[]

- Run your query here.

In [89]:
%%sql select distinct playerID
from people
where playerID not in (
    select playerID from appearances
    )

 * mysql+pymysql://root:***@localhost
460 rows affected.

[('abbotco01',),
 ('acevedo01',),
 ('actama99',),
 ('adairbi99',),
 ('adamsri03',),
 ('adonjo01',),
 ('aguilmi01',),
 ('alexyaj01',),
 ('allgeni01',),
 ('amburtr01',),
 ('arihako01',),
 ('armoubi99',),
 ('ashbyaa01',),
 ('baddoak01',),
 ('bakerbr01',),
 ('baldoal01',),
 ('bancrfr99',),
 ('barlial99',),
 ('barlojo01',),
 ('barnech01',),
 ('barrelu01',),
 ('barrema03',),
 ('barroed99',),
 ('baumami01',),
 ('bazared01',),
 ('bazsh01',),
 ('beerse01',),
 ('bellco99',),
 ('bendean01',),
 ('bettial01',),
 ('bevinte99',),
 ('bezdehu99',),
 ('bicke99',),
 ('bolesjo99',),
 ('bostiak01',),
 ('bowdebe01',),
 ('brentja01',),
 ('bristda99',),
 ('brownda99',),
 ('brownfr99',),
 ('brownra99',),
 ('bruihju01',),
 ('brujavi01',),
 ('buckeal99',),
 ('bukaujb01',),
 ('bulkemo99',),
 ('burgeja01',),
 ('burnhwa99',),
 ('butleor99',),
 ('byrnech99',),
 ('cabreed02',),
 ('camarda01',),
 ('campbpa02',),
 ('cantijo99',),
 ('carltdr01',),
 ('cartwal99',),
 ('castier01',),
 ('castiiv01',),
 ('castrke01',),
 ('castrro01',),
 ('cayloop99',),
 ('celesgi01',),
 ('chadwhe99',),
 ('chandha99',),
 ('charlos99',),
 ('chylane99',),
 ('claysa01',),
 ('clemeer01',),
 ('colemdy01',),
 ('collite99',),
 ('connoto99',),
 ('contrro01',),
 ('coopean99',),
 ('cousija01',),
 ('crawfku01',),
 ('criswco01',),
 ('crousha01',),
 ('cruzon01',),
 ('curtied99',),
 ('cushmch99',),
 ('dandrra99',),
 ('davidmo99',),
 ('dawsoro01',),
 ('dayjo99',),
 ('dayle99',),
 ('defrato99',),
 ('degeubr01',),
 ('degotal01',),
 ('deichgr01',),
 ('delacbr01',),
 ('detmere01',),
 ('deverjo01',),
 ('diazjh01',),
 ('diddlha99',),
 ('dihigma99',),
 ('diplama01',),
 ('dohyky01',),
 ('dorowry01',),
 ('dovalca01',),
 ('dreyfba99',),
 ('duranja01',),
 ('ebbetch99',),
 ('effrosc01',),
 ('ellisdr01',),
 ('emanuke01',),
 ('espinra01',),
 ('evansbi99',),
 ('faircst01',),
 ('falteba01',),
 ('fargajo01',),
 ('felicma01',),
 ('feltnry01',),
 ('fernaju02',),
 ('fessewa99',),
 ('flaaja01',),
 ('fogelho99',),
 ('foleyja01',),
 ('forteni01',),
 ('fostebi99',),
 ('fosteru99',),
 ('francwa01',),
 ('frazege99',),
 ('freyji99',),
 ('friaslu01',),
 ('frickfo99',),
 ('friedtj01',),
 ('fuchsju99',),
 ('gaffnjo99',),
 ('galanma99',),
 ('garcida99',),
 ('garzaju01',),
 ('garzara01',),
 ('giambtr01',),
 ('gibsojo99',),
 ('giffoji99',),
 ('gilbelo01',),
 ('gilbety01',),
 ('gilbrlu01',),
 ('gileswa99',),
 ('gillipa99',),
 ('gillu01',),
 ('gittech01',),
 ('godoyjo01',),
 ('gonzafr99',),
 ('gonzaro01',),
 ('gordoni01',),
 ('graffma99',),
 ('grantfr99',),
 ('grayjo03',),
 ('greenco01',),
 ('guentse01',),
 ('gushuta01',),
 ('gutievl01',),
 ('hackech99',),
 ('hagerja01',),
 ('harriwi99',),
 ('hartji99',),
 ('hartjo99',),
 ('hartmry01',),
 ('harvedo99',),
 ('headlo01',),
 ('heasljo01',),
 ('heilblo99',),
 ('hemonro99',),
 ('hendebi99',),
 ('hendrry01',),
 ('hengled99',),
 ('henrypa01',),
 ('hentgsa01',),
 ('hernayo02',),
 ('hewetwa99',),
 ('higgipj01',),
 ('hillmtr99',),
 ('hillpe99',),
 ('himslve99',),
 ('hoeyfr99',),
 ('honeybr01',),
 ('hubbaca99',),
 ('huffge99',),
 ('hulbewi99',),
 ('hurstsc01',),
 ('hurstti99',),
 ('hydebr99',),
 ('ibanean01',),
 ('indiajo01',),
 ('isbelky01',),
 ('iveyty01',),
 ('jacksan01',),
 ('jannimi01',),
 ('jaxgr01',),
 ('jennida99',),
 ('johnsba99',),
 ('johnsju99',),
 ('jonesda07',),
 ('junkja01',),
 ('keanejo99',),
 ('kelenja01',),
 ('kenneji99',),
 ('kenneke99',),
 ('kigerma01',),
 ('kimha01',),
 ('kirilal01',),
 ('klembi99',),
 ('kloboga01',),
 ('knehrre01',),
 ('knighdu01',),
 ('koernbr01',),
 ('kowarja01',),
 ('kranima01',),
 ('krolja99',),
 ('krugeja01',),
 ('kuehlka99',),
 ('kuhnbo99',),
 ('landike99',),
 ('langeal01',),
 ('larnatr01',),
 ('latzja01',),
 ('lawreju01',),
 ('leadlbo99',),
 ('leedy01',),
 ('leekh01',),
 ('leonabu99',),
 ('leylaji99',),
 ('leyvani99',),
 ('littlgr99',),
 ('lloydpo99',),
 ('longsa01',),
 ('lopezal03',),
 ('lopezja03',),
 ('lopezot01',),
 ('lowejo01',),
 ('lowthza01',),
 ('lucchfr99',),
 ('lynchda02',),
 ('mackebi99',),
 ('macphla99',),
 ('macphle99',),
 ('maddojo99',),
 ('maderlu01',),
 ('manleef99',),
 ('mannima01',),
 ('manoaal01',),
 ('marcatu01',),
 ('marshbr02',),
 ('martejo01',),
 ('martelu02',),
 ('martise01',),
 ('matonni01',),
 ('mattsis01',),
 ('mazeipa01',),
 ('mccalja99',),
 ('mccarja02',),
 ('mccarjo99',),
 ('mccauda01',),
 ('mcclash01',),
 ('mcclojo99',),
 ('mccorch01',),
 ('mcgahme99',),
 ('mcgowbi99',),
 ('mckenry01',),
 ('mckeoja99',),
 ('mcknide99',),
 ('mclarjo99',),
 ('mcmange99',),
 ('mcnamjo99',),
 ('megiltr01',),
 ('megilty01',),
 ('mejiaje02',),
 ('mendejo99',),
 ('merrist99',),
 ('meyerja02',),
 ('mileyda99',),
 ('millebr03',),
 ('milleow01',),
 ('millera99',),
 ('millswy01',),
 ('moranjo01',),
 ('moretda01',),
 ('morgael01',),
 ('mosesfe99',),
 ('mulleky01',),
 ('murphpa99',),
 ('murrabi99',),
 ('mutriji99',),
 ('nanceto01',),
 ('naughpa01',),
 ('nevinty01',),
 ('nittovi01',),
 ('nootbla01',),
 ('northaa01',),
 ('nunezda01',),
 ('oberba01',),
 ('obrieri01',),
 ('omallwa99',),
 ('ortegol01',),
 ('ortka01',),
 ('ottogl01',),
 ('overtco01',),
 ('oviedlu01',),
 ('owenhu01',),
 ('owenspa99',),
 ('ozarkda99',),
 ('padloke01',),
 ('palacjo01',),
 ('parkho01',),
 ('paynety01',),
 ('peacoma01',),
 ('pegueel01',),
 ('perdoge01',),
 ('perezfr01',),
 ('peterdj01',),
 ('phelale99',),
 ('phillho99',),
 ('phillle99',),
 ('pompeal99',),
 ('popowed99',),
 ('popza01',),
 ('poseycu99',),
 ('poteeco01',),
 ('powerpa99',),
 ('pozoyo01',),
 ('pricebr99',),
 ('priceji99',),
 ('quademi99',),
 ('raleica01',),
 ('raleylu01',),
 ('ramoshe01',),
 ('rappve99',),
 ('rayco01',),
 ('reedja02',),
 ('reetzja01',),
 ('reksza01',),
 ('riddogr99',),
 ('ridinst01',),
 ('rigglji99',),
 ('ripkeca99',),
 ('rivasal01',),
 ('rivaswe01',),
 ('riverem01',),
 ('riverse01',),
 ('robisst99',),
 ('robsoja01',),
 ('rodrich01',),
 ('rodrima01',),
 ('roganbu99',),
 ('rojasjo02',),
 ('rojaslu99',),
 ('romerjh01',),
 ('rondoan01',),
 ('rortvbe01',),
 ('rowlapa99',),
 ('ruckemi01',),
 ('ruperja99',),
 ('ryanjo04',),
 ('sanchcr01',),
 ('sanchmi01',),
 ('sandlni01',),
 ('sanmare01',),
 ('santito01',),
 ('santogr01',),
 ('santolo99',),
 ('sauceta01',),
 ('sawamhi01',),
 ('sawyeed99',),
 ('scanlmi99',),
 ('sceroma01',),
 ('schaebo99',),
 ('schmegu99',),
 ('schurjo99',),
 ('seaboco01',),
 ('seleefr99',),
 ('seligbu99',),
 ('sharsbi99',),
 ('sheetga01',),
 ('sheffjo01',),
 ('sheltde99',),
 ('shepala99',),
 ('shettbi99',),
 ('shildmi99',),
 ('shortza01',),
 ('showabu99',),
 ('simmole99',),
 ('sirijo01',),
 ('sittibr01',),
 ('smithhi99',),
 ('smithke05',),
 ('sneadki01',),
 ('snitkbr99',),
 ('snydeni01',),
 ('solompe01',),
 ('spencha99',),
 ('spitzsh01',),
 ('steartu99',),
 ('steelju01',),
 ('stephtr01',),
 ('stoketr01',),
 ('stridsp01',),
 ('sullipa99',),
 ('suttlmu99',),
 ('szaputh01',),
 ('taylobe99',),
 ('tayloge99',),
 ('terrycu01',),
 ('thomadi01',),
 ('thomafr99',),
 ('thompam99',),
 ('thompke02',),
 ('thompma02',),
 ('thompza01',),
 ('ticety01',),
 ('tigheja99',),
 ('tinglja99',),
 ('tomka01',),
 ('torricr99',),
 ('toscaca99',),
 ('trammta01',),
 ('trebeto99',),
 ('trejoal01',),
 ('trembda99',),
 ('turnete99',),
 ('tylerky01',),
 ('ucetaed01',),
 ('vaughan01',),
 ('veeckbi99',),
 ('vestwi01',),
 ('vierlma01',),
 ('viladry01',),
 ('vondech99',),
 ('vosleja01',),
 ('wadeko01',),
 ('wallsta01',),
 ('walshmi99',),
 ('waltzjo99',),
 ('wantzan01',),
 ('warreau01',),
 ('watkiha99',),
 ('watkisp01',),
 ('weathry01',),
 ('weaveea99',),
 ('weissge99',),
 ('welkeco01',),
 ('wellsal01',),
 ('wellsty01',),
 ('wellswi99',),
 ('whiteso99',),
 ('whitlga01',),
 ('wilkijl99',),
 ('williji99',),
 ('willijo99',),
 ('willilu01',),
 ('wilsoco01',),
 ('wilsoja03',),
 ('wilsoju99',),
 ('winklbo99',),
 ('wongco01',),
 ('wrighal99',),
 ('yanghy01',),
 ('yawketo99',),
 ('youngni99',),
 ('zerpaan01',)]

## Question 9: Don Plays Baseball

- I always wanted to play baseball for the Boston Red Sox, and also play with Ted Williams.


- Ted Williams' ```playerID``` is ```willite01```.


- My ```playerID``` would be ```fergusdo```.


- Perform the following tasks using SQL:
    - Insert an entry in ```people``` with:
        - ```playerID``` = ```fergusdo```
        - ```nameLast``` = ```Ferguson```
        - ```nameFirst``` = ```Donald```
    - Existence without Ted Williams is meaningless. So, using an Update statement, update the entry in people for ```fergusdo``` to have the same ```birthYear```, ```birthMonth``` and ```birthDay``` as Ted Williams.
    
    
- Run a query showing the row in ```people``` for ```fergusdo```.


- Delete the row you added.

In [81]:
# Insert statement
#
%sql INSERT INTO people (playerID, nameLast, nameFirst) VALUES ('fergusdo','Ferguson','Donald');

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [82]:
# Update statement
#
%sql select birthYear from people WHERE nameLast = 'Williams' AND nameFirst = 'Ted'

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('1918',)]

In [84]:
%sql select birthMonth from people WHERE nameLast = 'Williams' AND nameFirst = 'Ted'

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('8',)]

In [85]:
%sql select birthDay from people WHERE nameLast = 'Williams' AND nameFirst = 'Ted'

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('30',)]

In [86]:
%sql UPDATE people SET birthYear = '1918', birthMonth= '8', birthDay = '30' WHERE playerID = 'fergusdo' and nameLast = 'Ferguson' and nameFirst = 'Donald';

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [87]:
# Select statement showing row.
#
%sql select*from people WHERE playerID = 'fergusdo'

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('fergusdo', '1918', '8', '30', None, None, None, None, None, None, None, None, None, 'Donald', 'Ferguson', None, None, None, None, None, None, None, None, None)]

In [88]:
# Delete the created row.
#
%sql DELETE FROM people WHERE playerID = 'fergusdo'

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

## Question 10: There is No Question 10

- You all get a free point for putting up with me.